/* Blog Heading Part CSS Start */

.content h1 {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 26px;
}
/* Blog Heading Part CSS End */
